.footer {
    padding: 7% 15%;
    text-align: center;
    background: linear-gradient(90deg,#1495a7 0%,#003687 167%);
}

.footer-icon {
    color: #fff;
    padding: 2%;
}

.git:hover {
    background-color: #fff;
    border-radius: 50%;
}

.linked:hover {
    background-color: #fff;
    border-radius: 50%;
}

.insta:hover {
    background-color: #fff;
    border-radius: 50%;
}

.footer-menu {
    text-decoration: none;
    padding: 0 2%;
    color: #fff;
    font-family: 'Inter', sans-serif;
    font-weight: bolder;
}

.footer-menu:hover {
    color: #b3b3b3;
}

.menu {
    margin-top: 5%;
}

.footer-copyright {
    color: #fff;
    font-family: 'Inter', sans-serif;
    font-size: 10px;
    margin-top: 5%
}