.heading-projects {
    font-weight: 900;
    line-height: 1.2;
    letter-spacing: -1px;
    font-family: 'Inter', sans-serif !important;
    color: #110e38;
    font-size: 58px;
    text-align: center;
}

.para-projects {
    text-align: center;
    width: 50%;
    margin: 2% auto;
    font-size: 18px;
}

.projects-mid {
    display: grid;
    grid-template-columns: auto auto auto;
    row-gap: 5%;
    justify-content: center;
}

.projects {
    margin-bottom: 12%;
}

.projects-img {
    width: 50%;
}

.pro:hover .projects-img {
    opacity: 20%;
    filter: blur(4px);
}

.projects-text {
    visibility: hidden;
    opacity: 0;
    color:#110e38;
    font-size: 20px;
    font-family: 'Inter', sans-serif;
    line-height: 1.2;
    letter-spacing: -1px;
    font-weight: bold;
    text-align: center;
    margin-top: 2%;
}

.pro:hover .projects-text {
    visibility: visible;
    opacity: 1;
}

@media only screen and (max-width: 768px) {
    .heading-projects {
        font-size: 32px;
    }

    .para-projects {
        width: 100%;
        font-size: 16px;
    }

    .projects-mid {
        display: grid;
        grid-template-columns: auto;
        row-gap: 0;
    }
    
    .projects {
        margin-bottom: 0;
    }
    
    .projects-img {
        width: 40%;
    }
    
    .pro:hover .projects-img {
        opacity: 20%;
        filter: blur(4px);
    }
    
    .projects-text {
        font-size: 16px;
        margin-top: 0;
    }
    
}