#project-top{
    display: flex;
    justify-content: space-between;
}

.heading3 {
    color: #110e38;
    font-size: 35px;
    margin-bottom: 1rem;
    font-family: 'Inter', sans-serif !important;
    line-height: 1.2;
    letter-spacing: -1px;
    font-weight: bold;
    text-align: justify;
}

.project-text {
    width: 80%;
}

.view-btn {
    background: none;
    border: none;
    font-weight: bolder;
}

.view-text {
    margin-bottom: 0;
    color:#110e38;
    text-align: justify;
    text-decoration: none;
}

.view-text:hover {
    color: #585674;
}

.project-mid {
    display: grid;
    grid-template-columns: auto auto auto;
    margin-top: 5%;
}

.pro {
    margin-top: 5%;
    text-align: center;
    transition: all .3s ease-in-out;
}

.pro-img {
  width: 60%;
}

.pro-text {
    visibility: hidden;
    opacity: 0;
    color:#110e38;
    font-size: 20px;
    font-family: 'Inter', sans-serif;
    line-height: 1.2;
    letter-spacing: -1px;
    font-weight: bold;
    text-align: center;
    margin-top: 2%;
}

.pro:hover {
    transform: scale(1.2);
    cursor: pointer;
}

.pro:hover .pro-text {
    visibility: visible;
    opacity: 1;
}

.pro:hover .pro-img {
    opacity: 20%;
    filter: blur(4px);
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
    .project-text {
        width: 60%;
    }

    #project-top {
        align-items: baseline;
    }

    .pro-img {
        width: 70%;
    }

    .pro-text {
        margin-bottom: 0;
    }
}

@media only screen and (max-width: 768px) {
    .heading3 {
        font-size: 28px;
    }

    .view-text {
        font-size: 14px;
    }

    .project-text {
        width: 100%;
    }

    #project-top {
        align-items: baseline;
    }

    .project-mid {
        grid-template-columns: auto;
    }

    .pro-img {
        width: 40%;
    }

    .pro-text {
        font-size: 16px;
        margin-bottom: 0;
    }
}