#project {
    display: flex;
    justify-content: space-between;
    padding: 10% 5% 1% 11%;
}

.heading3 {
    color: #110e38;
    font-size: 35px;
    margin-bottom: 1rem;
    font-family: 'Inter', sans-serif !important;
    line-height: 1.2;
    letter-spacing: -1px;
    font-weight: bold;
    text-align: justify;
}

.project-text {
    width: 80%;
}

.view-btn {
    background: none;
    border: none;
    font-weight: bolder;
}

.view-text {
    margin-bottom: 0;
    color:#110e38;
    text-align: justify;
}

.view-text:hover {
    color: #585674;
}